/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/* Home section */
#home {
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

/* Section padding */
section {
    padding: 60px 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}